.text-card {
    max-width: 80vw;
    padding: $spacer-base * 15;
    border-radius: $spacer-base * 5;
    background-color: $color-port-gore;
    color: $color-black-white-opacity-09;
    font-family: $font-tomorrow;
    font-size: 6vw;
    text-align: center;
}
