.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.page-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
        margin: $spacer-base $spacer-base * 3;
    }
}
