.button {
    display: inline-flex;
    padding: $spacer-base * 2 $spacer-base * 6;
    border: 2px solid $color-black;
    color: $color-black;
    transition: $duration-fast background-color;
    cursor: pointer;

    .app--advice & {
        background-color: $color-beauty-bush-opacity-08;

        &:hover {
            background-color: $color-beauty-bush;
        }
    }

    .app--compliment & {
        background-color: $color-iceberg-opacity-08;

        &:hover {
            background-color: $color-iceberg;
        }
    }
}
