.navigation {
    position: absolute;
    display: flex;
    padding: $spacer-base * 5;

    a {
        display: inline-block;
        margin: 0 $spacer-base * 2;
        transition: color $duration-fast;
        cursor: pointer;
    }

    .app--advice & {
        a {
            color: $color-beauty-bush-opacity-04;

            &:hover {
                color: $color-beauty-bush;
            }
        }
    }

    .app--compliment & {
        a {
            color: $color-iceberg-opacity-04;

            &:hover {
                color: $color-iceberg;
            }
        }
    }
}

.navigation--main {
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    text-align: center;
}

.navigation--account {
    right: 0;
    bottom: 0;
}

.navigation--compliment,
.navigation--advice {
    position: static;
    justify-content: center;
}
