body {
    background-color: $color-port-gore;
    color: $color-headline;
    font-family: $font-tomorrow;
}

.app {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}