// fonts
$font-titan: 'Titan One', cursive;
$font-tomorrow: 'Tomorrow', sans-serif;

// colors
$color-black: #000000;
$color-black-opacity-02: rgba($color-black, 0.2);
$color-white: #ffffff;

// base
$color-port-gore: #232946;
$color-port-gore-opacity-09: rgba($color-port-gore, 0.9);
$color-black-white: #fffffe;
$color-black-white-opacity-09: rgba($color-black-white, 0.9);

// advice
$color-beauty-bush: #eebbc3;
$color-beauty-bush-opacity-04: rgba($color-beauty-bush, 0.4);
$color-beauty-bush-opacity-08: rgba($color-beauty-bush, 0.8);

// compliments
$color-iceberg: #c7ebf0;
$color-iceberg-opacity-04: rgba($color-iceberg, 0.4);
$color-iceberg-opacity-08: rgba($color-iceberg, 0.8);

$color-spindle: #b8c1ec;

// spacings
$spacer-base: 5px;

// transitions
$duration-fast: 0.2s;
$duration-regular: 0.4s;
$duration-slow: 0.8s;
